<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.0/cjs/enums.min.js"
    integrity="sha512-FqKK0WP6soxMaoQifJmiRlWPJxUrjit1mYKnm1jGoEq6S5fE1BrujLw6LHt+mPA/wxvcfsgOun6OYMwF8/b8ZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"
    integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="{{ " /js/navbar.js" | relURL }}"></script>
<script type="text/javascript" src="{{ " /js/plyr.js" | relURL }}"></script>
<script type="text/javascript" src="{{ " /js/main.js" | relURL }}"></script>